
.task-list {
  margin-top: 20px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container .add-task{
  position: absolute;
  left: 5px;
}

.actions-container{
  gap: 10px;
  display: flex;
}
